html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    overflow-x: hidden;

    > :not(header) {
        padding: 0 3rem;
    }
    margin: 0;
}
