html {
    background-color: beige;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    // color: abstracts.$brand-color;
    text-decoration: none;
    color: inherit;

    // @include abstracts.on-event {
    //     color: abstracts.$text-color;
    //     text-decoration: underline;
    // }
}

body {
    overflow-x: hidden;

    > :not(header) {
        padding: 0 3rem;
    }
    margin: 0;
}
