@use "../abstracts/index" as vars;

html {
    font-family: "Paperlogy", sans-serif;
    font-size: 0.625rem; // 10px
}

.header {
    color: vars.$header-text-color;
}

p {
    font-size: 1.7rem;
}

.grid-3-font {
    font-size: 1rem;
}
