@mixin flex-start-wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

@mixin flex-between-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@mixin flex-evenly-wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@mixin grid-rep-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
