.home {
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__content {
        display: flex;
        justify-content: center;
        height: 10vh;
    }

    &__banners {
        &__notice {
            margin-top: 3rem;
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
        }

        &__image {
            width: 100vw;
            max-width: 100%;
            overflow: hidden;
        }
    }
}
