@use "../abstracts/index" as vars;
@use "../abstracts/placeholders";

.filter {
    &__container {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
        width: 100%;
    }

    &__icon {
        &__container {
            position: relative;
            width: fit-content;
            height: fit-content;

            &:hover > .filter__icon__desc {
                visibility: visible;
                opacity: 1;
                transform: translateX(-50%) translateY(1.5rem);
            }
        }

        &__text {
            position: relative;
            cursor: pointer;
        }

        &__image {
            background-color: black;
            position: relative;
            width: 100%;
            height: auto;
            cursor: pointer;
        }

        &__desc {
            display: block;
            position: absolute;
            bottom: 100%; // Position above the image
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(0, 0, 0, 0.8); // Semi-transparent background
            color: white;
            padding: 0.5rem;
            border-radius: 0.25rem;
            white-space: nowrap;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
            z-index: 1;
        }
    }

    &__branch {
        &__container {
            display: flex;
            position: relative;
            width: 100%;

            &:hover > .filter__icon__desc {
                visibility: visible;
                opacity: 1;
                transform: translateX(-50%) translateY(1.5rem);
            }
        }
    }

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-right: 1rem;
    }

    &__rarity {
        &__container {
            @extend %filter-flex;
        }
        @extend %filter-flex;
        > li {
            margin-right: 0.8em;
        }
    }

    &__class {
        // @extend %filter-flex;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }

    &__branch {
        @include vars.grid-rep-6;
    }

    &__faction {
        @include vars.grid-rep-6;
    }

    &__facility {
        @include vars.flex-evenly-wrap;
    }

    &__effects {
        @include vars.grid-rep-3;
        font-size: 0.8em;
        text-align: center;
    }
}
