@use "../abstracts/index" as vars;

.filter {
    &__container {
        @include vars.flex-evenly-wrap;
        flex-direction: column;
        margin: 2rem 0;
        width: 100%;
    }

    &__rarity {
        @include vars.flex-start-wrap;
        // width: 30rem;
    }

    &__class {
        @include vars.flex-start-wrap;
        :not(:first-child) {
            color: green;
        }
    }

    &__branch {
        @include vars.grid-rep-6;
        :not(:first-child) {
            color: darkorange;
        }
    }

    &__faction {
        @include vars.grid-rep-6;
        // display: grid;
        // grid-template-columns: repeat(6, 1fr);
        :not(:first-child) {
            color: blue;
        }
    }

    &__facility {
        @include vars.flex-evenly-wrap;
        // display: flex;
        // justify-content: space-evenly;
        :not(:first-child) {
            color: blueviolet;
        }
    }

    &__effects {
        @include vars.grid-rep-6;
        // display: grid;
        // grid-template-columns: repeat(6, 1fr);
        :not(:first-child) {
            // width: 30rem;
            color: lightcoral;
        }
    }
}
