.filter {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 2rem 0;
        width: 100%;
    }

    &__rarity {
        display: flex;
        justify-content: space-evenly;
        // width: 30rem;
    }

    &__class {
        display: flex;
        justify-content: space-evenly;
        :not(:first-child) {
            color: green;
        }
    }

    &__branch {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        :not(:first-child) {
            color: darkorange;
        }
    }

    &__faction {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        :not(:first-child) {
            color: blue;
        }
    }

    &__facility {
        display: flex;
        justify-content: space-evenly;
        :not(:first-child) {
            color: blueviolet;
        }
    }

    &__effects {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        :not(:first-child) {
            // width: 30rem;
            color: lightcoral;
        }
    }
}
