@use "../abstracts/index" as vars;

.icon {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__name {
        font-size: 1.6rem;
    }
}
