.flex {
    &-container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &__center {
        justify-content: center;
    }

    &__evenly {
        justify-content: space-evenly;
    }
}
