@keyframes flicker {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
}

.grid {
    display: grid;

    &-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    &-container-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__icon {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }

    & > * {
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.1);

            img {
                transition: filter 0.3s;
                animation: flicker 0.8s infinite;
            }
        }
    }
}
