header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 3rem;
    margin-bottom: 1rem;
    background-color: bisque;
}

.title-section {
    &__link {
        display: flex;
        text-decoration: none;
    }

    &__title {
        font-size: 2.5rem;
        font-weight: bold;
        color: #333;
    }

    &__image {
        align-self: center;
    }
}
